header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25em;
    margin-bottom: 10px;
    background-color: rgb(87, 55, 20);
}

.header__title {
    font-size: small;
    font-weight: 350;
    letter-spacing: .03em;
}