*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    margin-top: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(https://thumbs.dreamstime.com/b/rustic-wood-planks-background-nice-studio-lighting-elegant-vignetting-to-draw-attention-56200999.jpg?w=768);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 2px 14px 4px black;

    &__content {
        width: 100%;
        display: grid;
        
    }
}


.herbs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    min-width: 1000px;    
    width: 100%;
    padding: 20px;
    gap: 20px; 
}