.herb {
    background-color: rgba(226, 192, 156, 0.92);
    border: none;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    width: 14%;
    box-shadow: 4px 4px 14px 0px rgb(2, 2, 1);
    
    &__name {
        padding: 10px;
        font-size: 26px;
        font-family: fantasy;
    }
    
    &__info-display {
        color: blue;
    }
    
    &__img {
        margin: 10px;
        border: 2px solid gray;
        width: 110px;
        height: 140px; 
        border-radius: 50%; 
        object-fit: cover; 
    }
}

