main {
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.home_btn {
    border: none;
    padding: 20px;
    border-radius: 1em;
    position: absolute;
    top: 10%;
    left: 45%;
    cursor: pointer;
}

.home_btn:hover {
    background-color: tan;
}

.carousel-item {
    height: 500px;
}

.carousel-indicators > :nth-child(1), .carousel-indicators > :nth-child(2), .carousel-indicators > :nth-child(3) {
    display: none;
}