.index {
    border-top: 1px solid rgb(244, 238, 231);
    background: rgb(196, 123, 35);
    background: linear-gradient(0deg, rgba(141, 88, 23, 0) 87%, rgba(221, 145, 69, 0.839) 100%);
}
.index__title {
    font-size: 40px;  
    color: rgb(66, 64, 64);
    margin-left: 38px;
    text-align: center;
}

.index__filter {
    margin-top: 10px;
    margin-left: 40%;
    padding: 10px 45px;
    border-radius: 2em;
    border: none;
    background-color: tan;
    color: white;
}

.index__sort {
    margin-left: 28px;
    padding: 10px 60px;
    border-radius: 2em;
    border: none;
    color: rgb(56, 52, 52);

}

.index__total {
    margin-left: 30px;
    color: gray;
    font-weight: 300;
}

.index__products {
    margin-left: 30px;
}