.index {
    border-top: 1px solid rgb(244, 238, 231);
    background-image: url(https://thumbs.dreamstime.com/b/rustic-wood-planks-background-nice-studio-lighting-elegant-vignetting-to-draw-attention-56200999.jpg?w=768);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.index__catalog {
    font-size: 40px;  
    color: rgb(238, 230, 230);
    margin: 44px 0 20px 100px;
    font-family: Lato;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.index__filter {
    padding: 10px 45px;
    border-radius: 2em;
    border: none;
    background-color: rgb(165 106 48);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    align-self: start;
    margin-left: 100px;
}

.index__filter:hover {
    background-image: linear-gradient(45deg, white 0%, silver 49%, tan);
    animation: slidebg 1s ease-in-out;
}

@keyframes slidebg {
    from {
        background-position: -200px;
    }
    to {
        background-position: 200px;
    }
}


.index__sort {
    padding: 10px 60px;
    border-radius: 2em;
    border: 1px solid rgb(165 106 48);
    color: rgb(56, 52, 52);
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
}

.index__total {
    color: white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .015rem;
    margin-left: 100px;
    margin-top: 20px;
}

.index__products {
    margin-left: 30px;
}


.index__views {
    margin: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.grid_view {
    margin-left: 1400px;
    font-size: 25px;
    color: rgb(238, 230, 230)
}

.list_view {
    margin-left: 40px;
    font-size: 30px;
    color: rgb(238, 230, 230)
}

// .two-column {

// }

// .three-column {

// }