// @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU&family=Playwrite+CZ:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playwrite+CU&family=Playwrite+CZ:wght@100..400&display=swap');
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 5.5em;
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid rgb(210, 180, 140);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    // width: 100vw;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.searchbar {
    list-style-type: none;
    position: absolute;
}

.navbar_hamburger {
    margin-right: 20px;
    cursor: pointer;
}

.navbar_search {
    // margin-left: 30px;
    cursor: pointer;
    margin-top: 20px;
}

// .navbar_converter {
//     margin-right: 290px;
//     cursor: pointer;
// }

.navbar_new {
    // margin-left: 550px;
}

.navbar_login {
    // margin-left: 20px;
}

.navbar_cart {
    // margin-left: 20px;
}

.navbar_logo {
    font-size: 20px;
    // margin-left: 450px;
}

.navbar_trademark {
    font-size: x-small;
    margin-bottom: 12px;
}

.search-results {
    color: brown;
    margin-top: 2px;
    text-align: center;
    width: auto;
    border-radius: 10px;
    background: white;
    position: absolute;
    box-shadow: 4px 4px 4px 1px rgb(210, 180, 140);
    z-index: 1;
}

.input-view {
    margin-left: 34%;
    position: absolute;
    left: 64px;
    bottom: 32px;
    z-index: 1;
}