nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    height: 5em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.navbar_hamburger {
    margin-right: 20px;
    cursor: pointer;
}

.navbar_search {
    margin-right: 20px;
    cursor: pointer;
}

.navbar_converter {
    margin-right: 290px;
    cursor: pointer;
}

.navbar_new {
    margin-left: 290px;
}

.navbar_login {
    margin-left: 20px;
}

.navbar_cart {
    margin-left: 20px;
}

.navbar_logo {
    font-size: 20px;
}

.navbar_trademark {
    font-size: x-small;
    margin-bottom: 12px;
}

.search-results {
    color: brown;
    margin-top: 2px;
    text-align: center;
    width: auto;
    border-radius: 20px;
    background: white;
    position: absolute;
    box-shadow: 4px 4px 4px 1px rgb(210, 180, 140);
    z-index: 1;
}